table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border-color: aqua;
}

body {
    background-image: url("");
}

button {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

a:link {
    color: blue;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: transparent;
}

a:visited {
    color: green;
    text-decoration: none;
    background-color: transparent;
}

a:active {
    color: yellow;
    text-decoration: none;
    background-color: transparent;
}

img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

.user {
    font-weight: bold;
}
